$grey: rgb(247, 247, 247);

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.btn {
  padding: 10px;
;
}

body {
  background: $grey;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

#someDiv {
  width: 100px;
  padding: 100px;
  margin: 10px;
  background: rgb(255, 179, 179);
  border: 2px solid grey;
}

.border_div {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  background: $grey;
  align-items: center;
  justify-content: center;
  border: solid crimson;
  border-radius:1px;
}#someDiv{color:#75e6f9}#someDiv{color:#1c8d06}